.cart-num {
    background-color: #1598AF;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    margin-left: 4px;
}
.seardiv{
    margin-right: 2%;
    margin-left: 2%;
    // padding: 2%;
}
.point{
    cursor: pointer;
}